:root{
    --board-size:400px;
    --border-size: 15px;
    --border-color: #343434;
}

body {
    margin: 0;
    background: #dedede;
    display: flex;
    font-family: 'Lato', Arial, sans-serif;
    align-items: center;
    height: 100%;
}

.title{
    position: absolute;
    cursor: default;
    top: 0;
    left: 10px;
    font-family: 'Lobster','Lato';
    font-size: 3rem;
}

.title h1{
    margin: 0;
}

.title:hover{
    transform: scale(1.1);
}

.gameboard {
    height: var(--board-size);
    width: var(--board-size);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(50% - (var(--board-size)/2) - var(--border-size)*2);
    left: calc(50% - (var(--board-size)/2) - var(--border-size)*2);
    border: calc(var(--border-size)*2) solid var(--border-color);
}

.color {
    width: 50%;
    height: 50%;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: left;
}

.celeste, .verde, .violeta, .naranja{
    border: 0;
}

.celeste {
    background: #0CB617;
    border-bottom: var(--border-size) solid var(--border-color);
    border-right: var(--border-size) solid var(--border-color);
}

.violeta {
    background: #FE3626;
    border-bottom: var(--border-size) solid var(--border-color);
    border-left: var(--border-size) solid var(--border-color);
}

.naranja {
    background: #FEFE00;
    border-top: var(--border-size) solid var(--border-color);
    border-right: var(--border-size) solid var(--border-color);
}


.verde {
    background: #02B4FE;
    border-top: var(--border-size) solid var(--border-color);
    border-left: var(--border-size) solid var(--border-color);
}

.celeste.light{
    background: #96df9a;
}

.violeta.light{
    background: #ff6c62;
}

.naranja.light{
    background: #ffff6c;
}

.verde.light{
    background: #6bd3ff;
}

.btn-start {
    width: 100px;
    height: 100px;
    background: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 50%;
    border-color: rgb(211, 0, 0);
    position: absolute;
    z-index: 2;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.btn-start:hover{
    transform: scale(1.1);
}

.counter {
    width: 180px;
    height: 180px;
    background: var(--border-color);
    color: white;
    border-radius: 50%;;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
}
.counter p, .counter h1{
    margin: 0;
}

.hide {
    display: none;
}

.link{
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.link a{
    color: orange;
    text-decoration: none;
}

.link a:hover{
    color: rgb(255, 206, 116);
}


@media screen and (max-width: 500px){
    :root{
        --board-size: 250px;
        --border-size:8px;
    }

    .title{
        font-size: 2rem;
    }

    .counter{
        width: 140px;
        height: 140px;
        top: calc(50% - 70px);
        left: calc(50% - 70px);
    }
}